<configuration scan="true" scanPeriod="30 minutes">

    <insertFromJNDI env-entry-name="java:comp/env/logback/contextName" as="contextName" />
    <contextName>arkivgrensesnitt</contextName>

    <appender name="FILE"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/${CONTEXT_NAME}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${catalina.base}/logs/${CONTEXT_NAME}.log.%d.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{ISO8601} %contextName %thread %level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.sun.xml.ws.wspolicy.EffectiveAlternativeSelector" level="off" />
    <logger name="javax.enterprise.resource.xml.webservices.security.policy" level="off" />

    <root level="DEBUG"><!-- WARN -->
        <appender-ref ref="FILE" />
    </root>

</configuration>
